<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center opacity-75 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div>
        <h1 th:if="${#authentication.name == 'anonymousUser'}">Bienvenido a Together We Play</h1>
        <h1 th:if="${#authentication.name != 'anonymousUser'}">Vamos a comprar lo que más te gusta!</h1>
    </div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a th:href="@{/}"><img src="/imagen/4090Shows.png" class="d-block w-100" alt="RTX 4090"></a>
            </div>
            <div class="carousel-item">
                <a th:href="@{/}"><img src="/imagen/xboxShows.png" class="d-block w-100" alt="Xbox"></a>
            </div>
            <div class="carousel-item">
                <a th:href="@{/}"><img src="/imagen/ps5Shows.png" class="d-block w-100" alt="PS5"></a>
            </div>
            <div class="carousel-item">
                <a th:href="@{/}"><img src="/imagen/switchShows.png" class="d-block w-100" alt="Switch"></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="mt-4">
            <h2>Los mejores precios en videojuegos, consolas y computación</h2>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <img src="/imagen/setupgamer.jpg" class="img-fluid rounded" alt="Imagen 1">
            </div>
            <div class="col-md-4">
                <img src="/imagen/setupxbox.jpg" class="img-fluid rounded" alt="Imagen 2">
            </div>
            <div class="col-md-4">
                <img src="/imagen/consolas.jpeg" class="img-fluid rounded" alt="Imagen 3">
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
