<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
    <title>Carrito de Compras</title>
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1>Carrito de Compras</h1>
<table class="table table-striped table-hover table-sm">
    <thead class="table-dark table-bordered">
    <tr>
        <th scope="col">Producto</th>
        <th scope="col">Imagen</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio Unitario</th>
        <th scope="col">Precio Total</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${carrito}">
        <td th:text="${item.producto.nombre}"></td>
        <td><img th:src="@{'/imagen/productos/'+${item.producto.imagen}}" width="80%" height="80%"></td>
        <td>
            <form th:action="@{/carrito/actualizar}" method="post">
                <input type="hidden" name="carritoId" th:value="${item.id}"/>
                <input type="number" name="cantidad" th:value="${item.cantidad}" min="1"/>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </td>
        <td th:text="'$' + ${item.producto.precio}"></td>
        <td th:text="'$' + ${item.cantidad * item.producto.precio}"></td>
        <td>
            <form th:action="@{/carrito/eliminar}" method="post">
                <input type="hidden" name="carritoId" th:value="${item.id}"/>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
    <div th:if="${carrito.isEmpty()}">
        <p>No hay productos en el carrito.</p>
    </div>
    <div th:if="${!carrito.isEmpty()}">
        <form th:action="@{/carrito/confirmar-compra}" method="post">
            <button type="submit" class="btn btn-success">Confirmar Compra</button>
        </form>
    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
