<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
    <title>Historial de Compras</title>
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container">
    <h1>Historial de Compras</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Producto</th>
            <th>Imagen</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Total</th>
            <th>Fecha de Compra</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${ticketDetalles}" >
            <td th:text="${ticket.producto.nombre}"></td>
            <td>
                <img th:src="@{'/imagen/productos/'+${ticket.producto.imagen}}" alt="Imagen del producto" style="width: 100px; height: auto;">
            </td>
            <td th:text="${ticket.cantidad}"></td>
            <td th:text="${ticket.precio}"></td>
            <td th:text="${ticket.cantidad * ticket.precio}"></td>
            <td th:text="${#temporals.format(ticket.ticket.fecha_Compra, 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
