<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
    <title>Historial de Compras Vacío</title>
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <h1>Tu historial de compras está vacío</h1>
    <div sec:authorize="isAuthenticated()">
        <p>Busca lo que más te guste</p>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a href="/login" class="btn btn-primary">Inicia sesión en tu cuenta</a>
        <a href="/register" class="btn btn-secondary">Regístrate ahora</a>
    </div>
</main>
<footer th:replace="~{plantillas/plantilla :: footer}"></footer>
</body>
</html>
